@{
    ViewBag.Title = "WCF Services Examples";
}
<h2>
    @ViewBag.message1
</h2>
<h2>
    @ViewBag.message2
</h2>
<h2>
    @ViewBag.message3
</h2>
<h2>
    @ViewBag.message4
</h2>
<h2>
    @ViewBag.message5
</h2>
<h2>
    @ViewBag.message6
</h2>
<h2>
    @ViewBag.message7
</h2>
<h2>
    @ViewBag.message8
</h2>
<h2>
    @ViewBag.message9
</h2>
<h2>
    @ViewBag.message10
</h2>